<div class="info">
  <p class="pronouns">{{pronouns}}</p>
  <p>{{phone}}</p>
  <p>{{email}}</p>
  <div class="profile-links extra-spacing">
    {{#each links }}
      <a target="_blank" href="{{ url }}">
        <img inline src="{{inlineSvg icon}}"></img>
        <p>{{name}}</p>
      </a>
    {{/each}}
  </div>
</div>

<div class="cover-letter initially-hidden">

  <p>
    Hi, I'm Ben: a seasoned software engineer with experience leading massive
    scale web applications that power both enterprise and commercial products.
  </p>
  <br />
  <p>
    For the past two years I've led the YouTube Kids Living Room team —
    delivering a kids tailored experience on smart TVs to millions of families.
    Prior to that, I spent time at Google building and leading frontend projects
    in Greentea, the CRM that underlies Google's sales team.
  </p>
  <br />
  <p>
    In addition to tackling the most technically challenging problems on my
    projects, I'm a reliable leader: mentoring teammates, guiding architecture,
    and reviewing code.
  </p>
  <br />
  <p>
    Since joining Google, I've:
    <br />
    <br />
    <ul class="bulleted">
      <li>
        Designed and built architecture used by web applications across YouTube
      </li>
      <li>
        Owned the configuration language that powers every chart and table in
        Google Ads and Greentea
      </li>
      <li>
        Established myself as a leader in code health across Google, writing
        best practices on testing and reviewing readability of code for > 200
        engineers
      </li>
    </ul>
  </p>
  <br />
  <p>
    Projects I lead are consumer quality, on-time, comprehensively tested, and
    ready for new features.
  </p>
  <br />
  <p>
    I'm always gearing up for my next challenge.
  </p>
</div>
