<p>{{phone}}</p>
<p>{{email}}</p>
<p>{{location}}</p>
<div class="profile-links extra-spacing">
  {{!-- flexbox uses reverse order to maintain styling --}}
  {{#each (reverse links) }}
    <a target="_blank" href="{{ url }}">
      <img inline src="{{inlineSvg icon}}"></img>
      <p>{{name}}</p>
    </a>
  {{/each}}
</div>
