<div class="history-chunk">
  <section class="info">
    <header class="subheader">
      <h4>{{name}}</h4>
      {{#if links}}
        <span class="links">
          {{#each links}}
            <a target="blank" href="{{url}}">{{name}}</a>
            {{#unless @last}}&nbsp;|&nbsp;{{/unless}}
          {{/each}}
        </span>
      {{/if}}
    </header>
    <p class="description italics">
      {{#each descriptors as |descriptor|}}
        <span>{{descriptor}}</span>
      {{/each}}
    </p>
    <ul class="bulleted">
      {{#each bullets as |bullet|}}
        <li>{{bullet}}</li>
      {{/each}}
    </ul>
  </section>
  {{#if img}}
    <img src="{{img img}}" class="initially-hidden"></img>
  {{/if}}
  {{#if video}}
    <video src="{{img video}}" class="initially-hidden" width="160" height="160" loop>
      <source src="{{img video}}" type="video/webm">
    </video>
  {{/if}}
</div>
