<section class="history-chunk">
    <header class="subheader">
        <h4>{{name}}</h4>
        {{#if links}}
            <span class="links">
                {{#each links}}
                    <a target="blank" href="{{url}}">{{name}}</a>
                    {{#unless @last}}&nbsp;|&nbsp;{{/unless}}
                {{/each}}
            </span>
        {{/if}}
    </header>
    <p class="description italics">{{description}}</p>
    <ul>
        {{#each bullets as |bullet|}}
            <li>{{bullet}}</li>
        {{/each}}
    </ul>
</section>