<section class="history-chunk">
    <header class="subheader">
        <h4>{{name}}</h4>
        <span class="links">
            {{#if liveLink}}
                <a target="blank" href="{{liveLink}}">Live</a>
                &nbsp;|&nbsp;
            {{/if}}
            <a target="blank" href="{{repoLink}}">GitHub</a>
        </span>
    </header>
    <p class="description italics">{{description}}</p>
    <ul>
        {{#each bullets as |bullet|}}
            <li>{{bullet}}</li>
        {{/each}}
    </ul>
</section>